<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Metsbrain{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
  <header>
    <h1><a href="/">Metsbrain</a></h1>
    <nav>
      <a href="/">Today</a>
      <a href="/enter-odds">Odds</a>
      <a href="/week">Week</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
